@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="text-center">
            <h1>Justin Earl Mann's Current Portfolio Projects</h1>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
